fastapi==0.95.0
neo4j==5.0.1
ecs-logging == 1.1.0
uvicorn[standard]==0.18.3
psycopg2-binary == 2.9.6
SQLAlchemy == 1.4.36
asyncpg==0.25.0
pyjwt == 2.6.0
cryptography==38.0.3
httpx==0.24.0
requests==2.28.1
fastapi-filter==0.6.0